:root
{
	--autumn-black: #111111;
	--autumn-white: #FFFFFF;
	--autumn-purple: #AA8ED6;
}

.text-b {color: var(--autumn-black);}
.text-w {color: var(--autumn-white);}
.text-p {color: var(--autumn-purple);}
.bg-b {background-color: var(--autumn-black);}
.bg-w {background-color: var(--autumn-white);}
.bg-p {background-color: var(--autumn-purple);}

body
{
	background-color: var(--autumn-black);
	color: var(--autumn-white);
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-size: 0;
}

body h1
{
	font-weight: 700;
	font-size: 60px;
	font-family: 'Exo', sans-serif;
	margin: 0px;
}

a
{
	color: var(--autumn-white);
	text-decoration: none;
	font-size: 30px;
}

#navbar
{
}

#navbar a
{
	padding: 8px;
	background-color: var(--autumn-white);
	color: var(--autumn-black);
	font-size: 30px;
}

#navbar a:hover
{
	background-color: var(--autumn-black);
	color: var(--autumn-white);
}

#navbar #nav-active
{
	background-color: var(--autumn-purple);
}

.container
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

@media screen and (min-width: 961px)
{
.middlecontainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin-left: 0%;
	margin-right: 0%;
}
}

@media screen and (max-width: 960px)
{
.middlecontainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin-left: 0%;
	margin-right: 0%;
}
}


img
{
	min-width: 150px;
	max-width: 100%;
}

.image
{
	flex-basis: 10%;
}

.text
{
	font-size: 30px;
	padding-left: 30px;
}

.unselectable
{
	user-select: none;
}